In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Importing the dataset
df_car = pd.read_csv("/Users/Shreeya/Downloads/car details/car data.csv")

In [3]:
# Displaying the first 10 rows from the dataset
df_car.head(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0

In [4]:
# Dimensions of the data(rows and columns)
df_car.shape

(301, 9)

In [5]:
# Datatype of every column
df_car.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [6]:
#Checking for the total null values if any in the column
df_car.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [7]:
column_names= df_car.columns.tolist()
column_names

['Car_Name',
 'Year',
 'Selling_Price',
 'Present_Price',
 'Kms_Driven',
 'Fuel_Type',
 'Seller_Type',
 'Transmission',
 'Owner']

In [8]:
new_column_names = [name.lower() for name in column_names]

In [9]:
new_column_names

['car_name',
 'year',
 'selling_price',
 'present_price',
 'kms_driven',
 'fuel_type',
 'seller_type',
 'transmission',
 'owner']

In [10]:
df_car.columns =new_column_names

In [11]:
df_car.head()

,car_name,year,selling_price,present_price,kms_driven,fuel_type,seller_type,transmission,owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [12]:
df_car["reduced_price"]=df_car['present_price']-df_car['selling_price']

In [13]:
df_car.head()

,car_name,year,selling_price,present_price,kms_driven,fuel_type,seller_type,transmission,owner,reduced_price
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2.24
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,4.79
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2.60
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,1.30
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2.27

In [17]:
df_car['reduced_ratio'] = np.round(df_car["present_price"] - df_car['selling_price'],2)

In [19]:
df_car.head()

,car_name,year,selling_price,present_price,kms_driven,fuel_type,seller_type,transmission,owner,reduced_price,reduced_ratio
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2.24,2.24
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,4.79,4.79
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2.60,2.60
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,1.30,1.30
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2.27,2.27